@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="m-2">Online Pizza Shop.</p>
    <a class="text-black" href="https://localhost:7273/menu">Click Here To See The Menu</a>
</div>
